@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Red Hat Text", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: hsl(13, 31%, 94%);
}
